main {
    padding: 25px;
    height: calc(100vh - 250px);
    color: #000;
    overflow: auto;
}

.scroll-area {
    position: relative;
    margin: auto;
    height: 100%;
}

.empty-button {
    border: none;
    background: none;

    &.btn-primary {
        border: none !important;
        background: none !important;
        padding: 0 !important;

        &:focus,
        &:active {
            border: none !important;
            box-shadow: none !important;
        }
    }
}
