// Fonts
/*@import url('https://fonts.googleapis.com/css?family=Nunito');*/
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap&subset=cyrillic');*/

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "header";
@import "aside";
@import "main";
@import "additional";
@import "tasks";

* {
    outline: 0 !important;
}

body {
    background-image: url("/img/backgrounds/nature-compressed.jpg");
    background-size: cover;
    color: rgba(255,255,255,.7);
    font-family: 'Comfortaa', cursive;
}
